.container {
    max-width: 100%;
    display: flex;
}

.row {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
}

.container .row .main-product {
    padding: 10px 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container .row .main-product .main-text {
    margin-left: 50px;
    margin-top: 25px;
}