<div>
  <h2>Order Management</h2>

  <h2>Order List</h2>
  <table class="order-table">
      <thead>
          <tr>
              <th>Order ID</th>
              <th>Status</th>
              <th>Products</th>
              <th>Update Status</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let order of orders">
              <td>{{ order.id }}</td>
              <td>{{ order.status }}</td>
              <td>
                  <ul>
                      <li *ngFor="let product of order.productList">
                          Product ID: {{ product.productId }} | Quantity: {{ product.quantity }} | Total Amount: {{ product.totalAmount }}
                      </li>
                  </ul>
              </td>
              <td>
                  <input [(ngModel)]="updatedStatus" placeholder="New Status" />
                  <button (click)="updateStatus(order.id)">Update Status</button>
              </td>
          </tr>
      </tbody>
  </table>
</div>
