<div class="container">
  <div class="body">
    <div class="text-center">
      <h5>Welcome!</h5>
    </div>

    <form (submit)="login()">
      <div class="form-email">
        <label for="email">Email*</label>
        <br>
        <input type="email" [(ngModel)]="credentials.email" placeholder="Email" name="email" required>
      </div>
      <div class="form-password">
        <label for="password">Password*</label>
        <br>
        <input type="password" [(ngModel)]="credentials.password" placeholder="Password" name="password" required>
      </div>
      <button type="submit" class="btn">Login</button>
      <button (click)="navigateToRegister()" class="btn">Register</button>
      <p>{{ message }}</p>
    </form>
  </div>
</div>